@import "tailwindcss";

body {
  min-height: 100vh;
  /* For iOS Safari, to take up full height of viewport */
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

/* Custom scrollbar for webkit */
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #233f48;
    border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
    background: #2bbdee;
}
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}
.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
